@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito-sans), sans-serif;
}

*::-webkit-scrollbar{
  display: none;
}

*{
  -webkit-tap-highlight-color: transparent;
}

#custom-scroll::-webkit-scrollbar {
  display: block;
  width: 6px;
}

#custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #dddddd;
}

#custom-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
  margin: 150px 0 25px 0;
}

#custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #dddddd;
}

.action-tabs::before{
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #D4DFF1;
}
.tab-item.bordered::before{
  position: absolute;
  content: "";
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #0B57D0;
}
.loader {
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
  border: 2px solid;
  border-color: #0B57D0 #0000 #D3E3FD #0000;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 1s linear infinite;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid transparent;
  border-bottom-color: #D3E3FD;
  transform: translate(-4px, 7px) rotate(-35deg);
}

.loader::after {
  border-color: #0B57D0 #0000 #F5F9FF #0000;
  transform: translate(12px, 1px) rotate(-35deg);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
